@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Orbitron:wght@500&display=swap');

body {
  background: black;
}

#canvas {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  font-family: 'Orbitron', 'Ma Shan Zheng', sans-serif;
}
